<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PDImageLibraries</key>
	<array>
		<dict>
			<key>path</key>
			<string>~/Pictures/Photos</string>
			<key>name</key>
			<string>Photos</string>
		</dict>
	</array>
	<key>PDLibraryAlbums</key>
	<array>
	</array>
	<key>PDImportProjectNameTemplate</key>
	<string>%Y-%m-%d Untitled</string>
	<key>PDMetadataGroups</key>
	<dict>
		<key>General</key>
		<array>
			<string>file_name</string>
			<string>name</string>
			<string>title</string>
			<string>caption</string>
			<string>keywords</string>
			<string>copyright</string>
			<string>digitized_date</string>
			<string>pixel_size</string>
			<string>file_size</string>
			<string>iso_speed</string>
			<string>f_number</string>
			<string>exposure_length</string>
		</array>
		<key>Photo Info</key>
		<array>
			<string>name</string>
			<string>original_date</string>
			<string>digitized_date</string>
			<string>camera_make</string>
			<string>camera_model</string>
			<string>iso_speed</string>
			<string>focal_length</string>
			<string>focal_length_35mm</string>
			<string>exposure_bias</string>
			<string>f_number</string>
			<string>exposure_length</string>
			<string>flash</string>
			<string>white_balance</string>
			<string>exposure_program</string>
			<string>metering_mode</string>
			<string>exposure_mode</string>
			<string>focus_mode</string>
			<string>profile_name</string>
			<string>pixel_size</string>
			<string>orientation</string>
			<string>light_source</string>
			<string>sensitivity_type</string>
			<string>scene_type</string>
			<string>scene_capture_type</string>
		</array>
		<key>GPS Info</key>
		<array>
			<string>latitude</string>
			<string>longitude</string>
			<string>altitude</string>
			<string>direction</string>
		</array>
		<key>File Info</key>
		<array>
			<string>file_name</string>
			<string>file_path</string>
			<string>file_date</string>
			<string>file_size</string>
			<string>file_types</string>
			<string>active_type</string>
		</array>
	</dict>
	<key>PDMetadataGroupOrder</key>
	<array>
		<string>General</string>
		<string>Photo Info</string>
		<string>GPS Info</string>
		<string>File Info</string>
	</array>
</dict>
</plist>
