<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PDLibraryDirectories</key>
	<array>
		<string>~/Pictures/Photos</string>
	</array>
	<key>PDMetadataGroups</key>
	<dict>
		<key>General</key>
		<array>
			<string>Name</string>
			<string>Rating</string>
			<string>Title</string>
			<string>Caption</string>
			<string>Keywords</string>
			<string>Copyright</string>
			<string>DigitizedDate</string>
			<string>PixelSize</string>
			<string>FileSize</string>
			<string>Path</string>
		</array>
		<key>Photo</key>
		<array>
			<string>Name</string>
			<string>OriginalDate</string>
			<string>DigitizedDate</string>
			<string>CameraMake</string>
			<string>CameraModel</string>
			<string>ISOSpeed</string>
			<string>FocalLength</string>
			<string>FocalLength35mm</string>
			<string>ExposureBias</string>
			<string>FNumber</string>
			<string>ExposureLength</string>
			<string>Flash</string>
			<string>WhiteBalance</string>
			<string>ExposureProgram</string>
			<string>MeteringMode</string>
			<string>ExposureMode</string>
			<string>FocusMode</string>
			<string>ProfileName</string>
			<string>PixelSize</string>
		</array>
		<key>GPS</key>
		<array>
			<string>Latitude</string>
			<string>Longitude</string>
			<string>Altitude</string>
			<string>Direction</string>
		</array>
	</dict>
	<key>PDMetadataGroupOrder</key>
	<array>
		<string>General</string>
		<string>Photo</string>
		<string>GPS</string>
	</array>
</dict>
</plist>
